		* {
    		margin: 0;
    		padding: 0;
		} 

		.header {
			width: 100%;
			display: flex;
    		justify-content: center;
    		margin-top: 10;
		}

		.item {
			width: 60%;
			display: flex;
    		justify-content: center;
    		margin-top: 110;
		}

		.item2 {
			width: 10%;
		}

		.item3 {
			width: 30%;
		}

		.conteudo {
			display: flex;
			justify-content: space-between;
			height: 50vh;
		}

		.conteudoimg {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.conteudocolor {
			background: orange;
		}

		.conteudocolor2 {
			background: black;
		}

		h1 {
			font-family: 'Courier New', monospace;
			font-size: 75;
		}

		h2 {
			font-family: 'Courier New', monospace;
			font-size: 50;
		}

		h3 {
			font-family: 'Courier New', monospace;
			font-size: 30;
		}

		p {
			font-family: 'Courier New', monospace;
			font-size: 24;
		}

		div.center {
			margin-top: 110;
			text-align: center;
			width: 60%;
		}

		div.left {
			text-align: left;
			width: 60%;
		}

		div.right {
			text-align: right;
			width: 60%;
		}

		a:link {
			color: black;
			text-decoration: none;
		}

		a:visited {
			color: black;
			text-decoration: none;
		}

		a:hover {
			color: white;
			text-decoration: underline;
		}

		a:active {
			color: black;
			text-decoration: underline;
		}

		img.centro {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}